<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>286685624859-1tf5fhpo1nirvullmo7m6sbgkb1uqu0e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.286685624859-1tf5fhpo1nirvullmo7m6sbgkb1uqu0e</string>
	<key>API_KEY</key>
	<string>AIzaSyBiYQ3YpYzk6HVuNmvkKKpKMPbdayW7T3E</string>
	<key>GCM_SENDER_ID</key>
	<string>286685624859</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sprs.shop.flexiContractor</string>
	<key>PROJECT_ID</key>
	<string>flexi-contractor</string>
	<key>STORAGE_BUCKET</key>
	<string>flexi-contractor.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:286685624859:ios:e48b5c1e46992364f4d6be</string>
</dict>
</plist>